footer{
	background-color:  #2f4960;
	color: white;
	height: 133px;
	display: flex;
	font-size: 14px;
	margin-top: 7px;
}

.footer{
	display: flex;
	max-width: 1000px;
	position: relative;
	left: 50%;
	transform: translate(-50%);
	margin-top: 31px;
}

.footer-year{
	margin-right: 426px;
}

.footer-info{
	list-style-type: none;
}

.footer-links, .footer-phone{
	display: flex;
	justify-content: flex-end;
}


