.rmenu{
	width: 277px;
	height: 1245px;
	background-color: white;
	border-radius: 5px;
	margin-top: 4px;
}

.rmenu-items{
	max-width: 277px;
	display: block;
}

.rmenu-nav{
	font-size: 14px;
	margin-top: 12px;
	margin-bottom: 52px;
}

.rmenu-nav-tickets, .rmenu-nav-schedule{
	height: 44px;
	width: 222px;
	background-color: #f8f5eb;
	position: relative;
	left: 50%;
	transform: translate(-50%);
	margin: 3px;
	border-radius: 10px;
	box-shadow: none;
	border-style: solid;
	border-width: 0px;
}

.rmenu-nav-tickets h4, .rmenu-nav-schedule h4{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-left: 27px; 
	padding-top: 3px;
	font-size: 16px;
}

.rmenu-nav-tickets:active, 
.rmenu-nav-tickets:focus{
	background-color: #ffd25b;
	outline-style: none;
}

.rmenu-nav-schedule:active, 
.rmenu-nav-schedule:focus{
	background-color: #ffd25b;
	outline-style: none;
}

.rmenu-buy{
	width: 222px;
	position: relative;
	left: 50%;
	transform: translate(-50%);
	margin-bottom: 37px;
}

.rmenu-buy p, .rmenu-buy a{
	font-size: 12px;
}

.rmenu-buy a{
	text-decoration: underline;
	margin-right: 12px;
}

.rmenu-feedback{
	width: 277px;
	background-color: #eaf1ff;
	height: 478px;
	border-top: 1px dotted;
	border-bottom: 1px dotted;
	border-color: #cccccc;
}

.rmenu-buy-items{
	width: 222px;
	position: relative;
	left: 50%;
	transform: translate(-50%);
}

.rmenu-feedback h3{
	padding-top: 20px;
	margin-bottom: 30px;
}

.rmenu-feedback p{
	margin-bottom: 22px;
	font-size: 12px;
	color: #666666;
}

.rmenu-buy-items input{
	margin-bottom: 18px;
	border-radius: 10px;
	box-shadow: none;
	border-style: solid;
}

.i1, .i2{
	height: 44px;
	width: 222px;
	color: #999999;
	padding-left: 10px;
	border-width: 1px;
}

.i3{
	height: 83px;
	width: 222px;
	color: #999999;
	padding-left: 10px;
	border-width: 1px;
}

.input-button{
	color: white;
	background: linear-gradient(to top, #168fd6, #51b8e7);
	border-width: 3px;
	border-color: #c3dae3;
	width: 148px;
	height: 50px;
}

.rmenu-services{
	background-color: #f8f5eb;
	height: 282px;
	width: 277px;
	border-bottom: 1px dotted;
	border-color: #cccccc;
}

.rmenu-table{
	width: 222px;
	position: relative;
	left: 50%;
	transform: translate(-50%);
}

.rmenu-table td{
	padding-top: 11px;
	padding-bottom: 12px;
	font-size: 15px;
	border-bottom: 1px solid;
	font-weight: bold;
	border-color: #cccccc;
}

.rmenu-table td h7{
	color: #1392d7;
}


.rmenu-services td:hover{
	filter: hue-rotate(130deg);
}

.rmenu-table .table-last{
	border-bottom: 0;
}

.rmenu-table td img{
	margin-right: 12px;
}

.rmenu-info{
	width: 277px;
}

.rmenu-info .rmenu-table a{
	color: #868686;
}
