footer
	div.footer
		div.footer-year Аэроэкспресс 1998-2013
		div.footer-info
			li
				div.footer-phone Телефон справочной службы:<strong> (3022) 45-05-05</strong>
			li 
				div.footer-links Адреса точек продаж | Написать нам