header
	div.header
		div.header-home
			ul
				li 
					img(src="../img/home.png")
				li 
					a Карта сайта &#9660;
		div.header-buy
			ul 
				li 
					a Авиабилеты
				li 
					a Ж\Д билеты
				li 
					a Поиск тура
		div.header-info
			ul
				li 
					a О компании
				li 
					a Услуги
				li 
					a Пресс-центр
				li 
					a Офисы продаж
				li
					a Контакты