div.reservationmenu
	div.reservationmenu-items
		div.reservationmenu-nav
			a Главная 
			a >
			a Услуги 
			a >
			a Заказ и бронирование билетов
		div.reservationmenu-title 
			div.reservationmenu-title-main
				h4 Бронирование авиабилетов
				a Посмотреть инструкцию по бронированию
			p Вводный текст, где мы должны написать что дает возможность закаызвать билеты именно через нас. Вводный текст, где мы должны написать что дает возможность закаызвать билеты именно через нас. Вводный текст, где мы должны написать что дает возможность закаызвать билеты именно через нас. 
		div.reservationmenu-slider
			img(src="img/prev_hover.png").slider-p
			img(src="img/next_hover.png").slider-n
			div.slider-text
				h4 Спецпредложение!
			div.slider
				div.slide
					img(src="img/slider1.png")
				div.slide
					img(src="img/slider1.png")
				div.slide
					img(src="img/slider1.png")
		div.reservationmenu-reservation
			div.reservationmenu-reservationnav
				button.reservationnav-flight Выбор рейса
				a &#9658;
				button.reservationnav-passinfo Информация о пассажирах 
				a &#9658;
				button.reservationnav-registration Оформление
				a &#9658;
				button.reservationnav-result Результаты бронирования
			div.reservationmenu-reservationblank
				div.blank-departure
					a Город вылета
					select
						option 
							a Чита
						option 
							a Москва
					input(type="date").dep-date
				div.blank-arrival
					a Город назначения
					select
						option 
							a Москва
						option 
							a Чита
					input(type="date").arr-date
				div.blank-oneway
					input(type="checkbox" id="cbow")
					label(for="cbow") В одну сторону
				div.blank-pass
					a Количество пассажиров
					div.blank-pass-choise
						select.blank-pass-adults
							option Взрослые
							option 1
							option 2
							option 3
							option 4
							option 5
						select.blank-pass-kids
							option Дети
							option 1
							option 2
							option 3
							option 4
							option 5
						select.blank-pass-babies
							option Младенцы
							option 1
							option 2
							option 3
							option 4
							option 5
				div.blank-class
					a Класс
					select.blank-class-choise
						option Эконом
						option Бизнес
						option Первый
				div.blank-pay
					a Оплата с:
					div
						input(type="radio")
						a Пластиковая карта
					div
						input(type="radio")
						a Наличные
					div
						input(type="radio")
						a Безналичный рассчет
				input(type="button", value="Расписание").blank-schedule
		div.reservationmenu-banner
			img(src="img/banner.png")
			a Билеты от 
				h4 6450 ₽
		div.reservationmenu-schedule
			a.reservationmenu-schedule-title Чита-Москва (20.08.2013)
			table
				tr.r1
					td(colspan="7") Прямые рейсы
				tr.r2
					td
					td Рейс
					td Вылет
					td Прилет
					td В пути
					td Самолет
					td Класс
				tr.r3
					td 
						input(type="radio")
					td S7-120*
					td 08:50 Чита
					td 11:50 Домодедово
					td 9:00
					td БОИНГ 737-800
					td Э / 4
				tr.r4
					td 
						input(type="radio")
					td S7-120*
					td 08:50 Чита
					td 11:50 Домодедово
					td 9:00
					td БОИНГ 737-800
					td Э / 4
			a.ps * - рейсы с посадкой

