div.rmenu
	div.rmenu-items
		div.rmenu-nav
			button.rmenu-nav-tickets 
				h4 Заказ билетов
			button.rmenu-nav-schedule 
				h4 Расписание рейсов
		div.rmenu-buy
			h3 Узнать где купить
			p У нас 16 офисов продаж, где вы можете купить билеты и получить консультации наших специалистов.<br>
			a(href="#") Пункты продаж билетов
			img(src="img/buy.png")
		div.rmenu-feedback
			div.rmenu-buy-items
				h3 Оставьте нам заявку
				p Оставьте нам сообщение с вашими потребностями и наши консультанты сами подберут вам лучше условия и свяжутся с вами в течение 3-6 часов
				div.input
					input.i1(type="text", value="Как вас зовут")
					input.i2(type="text", value="Контактный телефон")
					input.i3(type="text", value="Что вас интересует?")
					input.input-button(type="button" value="Отправить")
		div.rmenu-services
			div.rmenu-table
				table
					tr
						td Услуги
					tr
						td 
							img(src="img/aeroexpress.png")
							h7 Аэроэкспресс
					tr
						td 
							img(src="img/hotels.png")
							h7 Гостиницы
					tr
						td
							img(src="img/taxi.png")
							h7 Такси
					tr
						td
							img(src="img/bus.png")
							h7 Автобусы
					tr
						td.table-last
							img(src="img/insurance.png")
							h7 Страхование
		div.rmenu-info
			div.rmenu-table
				table
					tr
						td Полезно знать
					tr
						td
							a Авиакомпании
					tr 
						td 
							a Аэропорты
