div.undermenu
	div.undermenu-items
		div.undermenu-aviaexpress
			li 
				img(src="img/aviaexpress.png")
			li Ваша дорога - наша забота!
		div.undermenu-logo
			img(src="img/logo.png")
		div.undermenu-description Авиаэкспресс - крупнейшая в Забайкалье сеть <br>универсальных касс по продаже авиационных,<br> железнодорожных билетов и туристических услуг.
		div.undermenu-reference
			li Телефон справочной службы:
			li 
				strong.number +7 (3022) 45-05-05